<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <!-- <link href="css/simple-sidebar.css" rel="stylesheet"> -->

</head>

<style type="text/css">
  /*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 #wrapper {
    overflow-x: hidden;
 }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }

  }
  .userdetail {
    float: right;
    font-size: 20px;
    padding: 10px;
  }

  .dropdown-item:hover, .dropdown-item:focus {
    color: gray;
    text-decoration: none;
    background-color: gray;
  }

  .navhref {
    /*background-color: gray;*/
    color: white;
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .heading {
    color: white;
    font-size: 15px;
  }

  a:hover {
    background-color: #D3D3D3;
  }

 




</style>

<body>
  <!-- <div id="page-content-wrapper"> -->

    
    <!-- </nav> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats" style="background: white; width: 280px;">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">group</i>
              </div>
              <p class="card-category">My Team</p>
              <h3 class="card-title"><%= @current_user.pairs.where.not(left_user_id: nil).count + @current_user.pairs.where.not(right_user_id: nil).count %>
                <small>Members</small>
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" >
          <div class="card card-stats"  style="background: white; width: 280px;">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">sync_alt</i>
              </div>
              <p class="card-category">Referral</p>
              <h3 class="card-title"><%= Pair.where(user_id: @current_user.id).count%> </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats"  style="background: white; width: 280px;">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">business</i>
              </div>
              <p class="card-category">My Business</p>
              <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats"  style="background: white; width: 280px;">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance_wallet</i>
              </div>
              <p class="card-category">Earnings</p>
              <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- <i class="material-icons">update</i> Just Updated -->
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card"  style="background: white">
            <div class="card-header card-header-success">
              <h4 class="card-title">My Business</h4>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-success">
                  <th style="font-size: 14px;">Left Wing Users</th>
                  <th style="font-size: 14px;">Right Wing Users</th>
                  <th style="font-size: 14px;">Pairs</th>
                  <th style="font-size: 14px;">Total</th>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-size: 14px;"><%= @current_user.pairs.where.not(left_user_id: nil).count %></td>
                    <td style="font-size: 14px;"><%= @current_user.pairs.where.not(right_user_id: nil).count %></td>
                    <td style="font-size: 14px;"><%= @current_user.pairs.where.not(left_user_id: nil, right_user_id: nil).count %></td>
                    <td style="font-size: 14px;"><%= @current_user.pairs.where.not(left_user_id: nil).count + @current_user.pairs.where.not(right_user_id: nil).count %></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

      
    </div>
</body>

</html>
