<link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" herf="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<br>    
<div class="container-fluid">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Joining Date</th>
                <th>Address</th>
                <th> Sponser ID </th>
                <th> - </th>
            </tr>
        </thead>
        <tbody>
            <% @final_object.each do |member| %>
            <tr>
                <% user = User.find(member) %>

                <td><%= user.name %></td>
                <td><%= user.position %></td>
                <td><%= user.created_at.strftime("%F") %></td>
                <td><%= user.address %></td>
                <td><%= user.sponser_id %></td>
                <td> - </td>
            </tr>
            <%end%>
            
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Joining Date</th>
                <th>Address</th>
                <th>Sponser ID</th>
                <th> - </th>
            </tr>
        </tfoot>
    </table>
</div>