<div class="row">
	<div class="col-sm-12">
		<h3 style="padding: 20px;">Pending Invoices</h3>
		<% @invoices.each do |invoice|%>
			<div class="row">
				<div class="col-sm-8">
					<div class="card" style=" background-color: #c9c8c1; padding: 20px; margin-left: 20px; border: 2px;border-style: groove;">
					  <div class="card-header">
					    <h4>Name: <%= invoice.try(:user).try(:name)%></h4>
					    <h4 class="card-title">Sponser Name: <%= User.find_by(sponser_id: invoice.try(:user).try(:sponser_id)).try(:name)%></h4>
					    <h4 class="card-title">Sponser ID: <%= invoice.try(:user).try(:sponser_id)%></h4><br>
					    <h4 class="card-title">Invoice Number: <%= invoice.try(:invoice_number)%></h4>
					    <h4 class="card-title">Invoice Number: <%= invoice.try(:invoice_number)%></h4>
					    <p class="card-text"><h4>Bill Amount: <%= invoice.try(:amount)%></h4></p>

					    <%= link_to "Accept Invoice", invoice_operation_admin_index_path(id: invoice.id, status: "accept"), class: "btn btn-success"%>
					    <%= link_to "Reject Invoice", invoice_operation_admin_index_path(id: invoice.id, status: "reject"), class: "btn btn-danger"%>
					  </div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>