<div class="col-lg-12" style="overflow-x:auto;">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th> Name </th>
                <th> Invoice Number </th>
                <th> Sponser Id </th>
                <th> Sponsered Name </th>
                <th> Amount </th>
                <th> Status</th>
                <th> Invoice Applied Date </th>
                <th> Operation </th>
            </tr>
        </thead>
        <tbody>
            <% Invoice.all.each do |invoice| %>
            <tr>
                <td><%= invoice.try(:user).try(:name)%></td>
                <td><%= invoice.try(:invoice_number) %></td>
                <td><%= invoice.try(:user).try(:sponser_id) %> </td>
                <td><%= User.find_by(id: invoice.try(:user).try(:sponsered_by_id)).try(:name) %></td>
                <td><%= invoice.try(:amount)%></td>
                <td><%= invoice.try(:is_invoice_valid).eql?(true) ? "Active" : "Inactive" %></td>
                <td><%= invoice.created_at.strftime("%F") %></td>
                <%if invoice.try(:is_invoice_valid) == false || invoice.try(:is_invoice_valid) == nil %>
                    <td> <%= link_to "Accept Invoice", invoice_operation_admin_index_path(id: invoice.id, status: "accept"), class: "btn btn-success"%>
                        <%= link_to "Reject Invoice", invoice_operation_admin_index_path(id: invoice.id, status: "reject"), class: "btn btn-danger"%>
                            
                    </td>
                <%else%>
                    <td> - </td>
                <%end%>
            </tr>
            <%end%>
            
        </tbody>
        <tfoot>
            <tr>
                <th> Name </th>
                <th> Invoice Number </th>
                <th> Sponser Id </th>
                <th> Sponsered Name </th>
                <th> Amount </th>
                <th> Status</th>
                <th> Invoice Applied Date </th>
                <th> Operation </th>
            </tr>
        </tfoot>
    </table>
    
</div>