<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<style type="text/css">
	.table th{
		color: white;
	}

	#ex1Slider .slider-selection {
	background: #BABABA;
}
	.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #67a7a8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #67a7a8;
  cursor: pointer;
}
}
.th {
	color: black;
}
</style>
<body style="background: #edf5f5">
	<div class="col-sm-12"><br>
		<div class = "col-sm-4">
			<form action="<%manage_members_admin_index_path%>" method="get">
		        <input type="text" id="search" name="search" class="form-control" placeholder="Search"><br>
		        <input type="submit" value="Submit" class="btn btn-secondary">
		        <input type="reset" value="Reset" class="btn btn-warning">
	        </form> 
		</div>
	</div>
	<div class="col-sm-12"><br>
		<div class="col-sm-4">
			<form action="<%manage_members_admin_index_path%>" method="get">
	          	<div class="slidecontainer">
					<label>Pair Count:</label>
			  		<input type="range" name = "range" min="1" max="100" value="" class="slider" id="myRange"><br>
			  		<p>Value: <span id="demo"></span></p>
				</div>
	          	<input type="submit" value="Fetch" name="Fetch" class="btn btn-secondary">
	        </form> 
		</div>
	</div>
	<div class="col-sm-12"><br>
		<div class="col-sm-4">
			<%= link_to "Last Month",  pair_details_admin_index_path(start_date: (Date.today.beginning_of_month - 1.month).to_datetime, end_time: (Date.today.end_of_month - 1.month).to_datetime), class: "btn"%> &nbsp;
        	<%= link_to "Current Month",  pair_details_admin_index_path(start_date: (Date.today.beginning_of_month).to_datetime, end_time: (Date.today.end_of_month).to_datetime), class: "btn"%> &nbsp;
        	<%= link_to "All",  pair_details_admin_index_path, class: "btn"%> 
		</div>
	</div><br>

	<% @users.each do |user|%>
		<%if !user.admin?%>
			<div class="col-lg-12" style="padding: 20px; overflow-x: auto; margin-bottom: 20px;">
	            <div class="card-header" style="">
	                <h3 style="background: #635f5f; padding: 20px; color: white;"><%= user.try(:name)%></h3><br>
	                <p>User ID: <b><%= user.try(:sponser_id)%></b></p>
	                <p>Sponser Name: <b><%= User.find_by(id: user.try(:sponsered_by_id)).try(:name)%></b></p>
	                <p>Sponser ID: <b><%= User.find_by(id: user.try(:sponsered_by_id)).try(:sponser_id)%></b></p>
	                <p>Mobile Number: <b><%= user.try(:phone_number)%></b></p>
	                <p>UPI ID: <b><%= user.try(:upi_id)%></b></p>
	            </div>
	            <div class="card-body" style="background: white;"><h4 style="background: #c9d3d6; padding: 20px; color: #484a4a">Business Details: </h4><br>
	                <h5 class="card-title">Total Team Size: <b><%= get_final_users(user).try(:uniq) { |user| user.id}.try(:count)%></b></h5>
                	<p>Total Left Team: <b><%= find_left_inactive_team(user).present? ? find_left_inactive_team(user) : 0%></b></p>
                	<p>Total Right Team: <b><%= find_right_inactive_team(user).present? ? find_right_inactive_team(user) : 0%></b></p>
                	<p>Total Active Left Team: <b><%= get_active_users(user, "active_left") %></b></p>
                	<p>Total Active Right Team: <b><%= get_active_users(user, "active_right") %></b></p><br>
	                

	                <!-- <div class="col-lg-6 col-md-12"> -->
	                <div class="card">
	                  <div class="card-header card-header" style="background: #a85462 padding: 20px;">
	                    <h4 class="card-title" style="background: white;"><h4 style="background: #c9d3d6; padding: 20px; color: #484a4a;">Current Month Pairs</h4>
	                  </div>
	                  <div class="card-body table-responsive">
	                    <table class="table table-hover">
	                      <thead class="text-success">
	                        <th style="font-size: 14px; color: black">1 - 10</th>
	                        <th style="font-size: 14px; color: black">11- 20</th>
	                        <th style="font-size: 14px; color: black">21 - 31</th>
	                      </thead>
	                      <tbody>
	                        <tr>
	                          <td style="font-size: 15px;"><%= find_pair(user, 1) %></td>
	                          <td style="font-size: 15px;"><%= find_pair(user, 2) %></td>
	                          <td style="font-size: 15px;"><%= find_pair(user, 3) %></td>
	                        </tr>
	                      </tbody>
	                    </table>
	                  </div>
	                <!-- </div> -->
	              </div>
	            </div>
	        </div>
		<%end%>
		<br>
	<%end%>

</body>

<script type="text/javascript">
	var slider = document.getElementById("myRange");
	var output = document.getElementById("demo");
	output.innerHTML = slider.value;

	slider.oninput = function() {
	  output.innerHTML = this.value;
}
</script>