<style type="">
  .datetime select:nth-child(1) {
  width: 60px;
  text-indent: 15px; 
  padding: 5px;
}
.datetime select:nth-child(2) {
  width: 100px;
  text-indent: 15px; 
  padding: 5px;
}
.datetime select:nth-child(3) {
  width: 60px;
  text-indent: 15px; 
  padding: 5px;
}
</style>


<%= form_for @user, url: user_path do |f| %>
  <h6 class="heading-small text-muted mb-4" style="padding: 20px; font-size: 20px;">User information</h6>
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group focused" style="width: auto; padding: 10px;">
          <label class="form-control-label" for="input-username">Sponser Id</label>
          <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Sponser ID" value="<%= @user.sponser_id %>" readonly="readonly">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group focused" style="width: auto; padding: 10px;">
          <label class="form-control-label" for="input-username">Email ID</label>
          <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Email ID" value="<%= @user.email %>" readonly= "readonly">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group focused" style="width: auto; padding: 10px;">
          <label class="form-control-label" for="input-first-name">Name</label>
          <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group focused" style="width: auto; padding: 10px;"><br>
          <label class="form-control-label" for="input-first-name">Gender</label>
          <%#= f.label :gender %>&nbsp;&nbsp;&nbsp;
          <%= f.label :gender, "Male", :value => "Male"  %>
          <%= f.radio_button :gender, "Male", id: "gender"%>
          <%= f.label :gender, "Female", :value => "Female" %>
          <%= f.radio_button :gender, "Female", id: "gender" %>
          <%= f.label :gender, "Other", :value => "Other" %>
          <%= f.radio_button :gender, "Other", id: "gender" %>
          <%#= f.text_field :pan_number, autofocus: true, placeholder: "Pan Number", class: "form-control" %>
        </div>
      </div> 
    </div>
  </div>
  <hr class="my-4">
  <!-- Address -->
  <h6 class="heading-small text-muted mb-4" style="padding: 20px; font-size: 20px;">Contact information</h6>
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group focused" style="width: auto; padding: 10px;">
          <label class="form-control-label" for="input-address">Address</label>
          <%= f.text_field :address, autofocus: true, placeholder: "Address", class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group focused" style="width: auto; padding: 10px;">
          <label class="form-control-label" for="input-city">Zipcode</label>
          <%= f.text_field :zipcode, autofocus: true, placeholder: "City", class: "form-control" %>
        </div>
      </div> 
    </div>
  </div>
  <div style="float: right; padding: 10px;">
    <button class="btn btn-warning">Submit</button>
  </div>
<%end%>

 

  
<div style="float: left; padding: 10px;">
  <%= link_to "Back", my_profile_dashboard_index_path, class: "btn"%>
</div>



