<div class="container">
	<div class="row">
		<div class="col-sm-6"><br>
			<h4>Change your password</h4>

				<%= form_for :user, url: update_password_users_path, method: :put  do |f| %>
				  <%= f.hidden_field :reset_password_token %>

				  <div class="field">
				    <%= f.label :UserID, "UserID" %><br />
				    <%= f.text_field :user_id, autofocus: true, class: "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :password, "New password" %><br />
				    <% if @minimum_password_length %>
				      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
				    <% end %>
				    <%= f.password_field :password, autofocus: true, class: "form-control" %>
				  </div>

				  <div class="field">
				    <%= f.label :password_confirmation, "Confirm new password" %><br />
				    <%= f.password_field :password_confirmation, class: "form-control" %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Change my password", class: "btn btn-success" %>
				    <%= link_to "Back",root_path, class: "btn btn-warning", style: "color: black;" %>
				  </div> 
				<% end %>


		</div>
	</div>
</div>