<!DOCTYPE html>
<html>
  <head>
    <title>Shikhar Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user.present? && !@current_user.admin? %>
      <div class="d-flex" id="wrapper">

        <%= render partial: "shared/sidebar" %>
        <div id="page-content-wrapper">    
          <%= render partial: "shared/header" %>
          <%= yield %>
        </div>  

      </div>
    <% elsif @current_user.present? && @current_user.admin? %>

      <div class="d-flex" id="wrapper">

        <%= render partial: "shared/sidebar" %>
        <div id="page-content-wrapper">    
          <%= render partial: "shared/header" %>
          <%= yield %>
        </div>  
      </div>
    <% else %> 
      <%= yield %>
    <%end%>
  </body>
</html>
